.navbar {
    background-color: #123122;
}

.info {
    margin-top: 1rem;
}

h2 {
    margin-bottom: 1rem;
}

nav {
    width: 100%;
}

.logo {
    color: white;
    text-decoration: none;
    text-align: center;
    width: 100%;
}